data/**
GIS_data/**
Projected_files/**
.ipynb_checkpoints/*
src/temp/**
src/results/**
results/**
*.zip
temp/**
GEOSeMOSYS_Kenya-master/**
.idea/**
src/__pycache__/**
src/run/o.lp
src/run/scenarios/capacityfactor_solar.csv
src/run/scenarios/capacityfactor_wind.csv
src/run/scenarios/capacitytoactivity.csv
src/run/scenarios/capitalcost.csv
src/Results_extraction.py
src/run/scenarios/adjacencymatrix.csv
src/run/scenarios/elec.csv
src/run/scenarios/fixed_cost_tnd.csv
src/run/scenarios/fuels.csv
src/run/scenarios/GIS_data.csv
src/run/scenarios/inputactivity.csv
src/run/scenarios/outputactivity.csv
src/run/scenarios/un_elec.csv
src/run/scenarios/technologies.csv
src/run/results/**
src/SALib-main/**
src/run/Demand/demand**
New Text Document.txt
src/.ipynb_checkpoints/GEOSeMOSYS -Benin-checkpoint.ipynb
src/test_GEOSeMOSYS_Kenya.py
src/gui_workflow-gsa**
src/sample_morris_masterdata.xlsx
src/sample_morris.csv
.vscode/settings.json
src/GEOSeMOSYS -Benin.ipynb
src/run/elec.png
src/modelruns/scenarios/sample_morris.csv
src/modelruns/scenarios/unique_morris.csv

src/run/5_elec_noHV_cells.csv
src/run/scenarios/Demand/**
src/run/scenarios/**

src/modelruns/scenarios/unique_comb_morris.csv
src/run/1_elec_noHV_cells.csv
src/run/1_elec.csv
src/run/1_HV_cells.csv
src/run/1_minigridcells.csv
src/run/1_noHV_cells.csv
src/run/1_un_elec.csv
src/run/5_elec.csv
src/run/5_HV_cells.csv
src/run/5_minigridcells.csv
src/run/5_noHV_cells.csv
src/run/5_un_elec.csv
src/run/9_elec_noHV_cells.csv
src/run/9_elec.csv
src/run/9_HV_cells.csv
src/run/9_minigridcells.csv
src/run/9_noHV_cells.csv
src/run/9_un_elec.csv
src/run/13_elec_noHV_cells.csv
src/run/13_elec.csv
src/run/13_HV_cells.csv
src/run/13_minigridcells.csv
src/run/13_noHV_cells.csv
src/run/13_un_elec.csv
src/run/QGIS_5_distributionlines.csv
src/run/QGIS_13_distributionlines.csv
src/run/output/**
src/run/__pycache__/**
src/run/capacity_factor_other.xlsx
src/run/Benin_modified.txt
tech naming temba.xlsx
src/sensitivity/**

src/run/sensitivity_range/**
src/modelgenerator/__pycache__/**
src/convert.py
src/input_data/T3_load profile_Narayan.xls
.gitignore
src/.snakemake/**
src/modelgenerator/Build_csv_files.py
.gitignore

**results_PuLP**
**halfhourly_data_**