data/**
GIS_data/**
Projected_files/**
.ipynb_checkpoints/*
src/temp/**
src/results/**
results/**
*.zip
temp/**
GEOSeMOSYS_Kenya-master/**
.idea/**
src/__pycache__/**
src/Benin_run/o.lp
src/Benin_run/scenarios/capacityfactor_solar.csv
src/Benin_run/scenarios/capacityfactor_wind.csv
src/Benin_run/scenarios/capacitytoactivity.csv
src/Benin_run/scenarios/capitalcost.csv

src/Benin_run/scenarios/adjacencymatrix.csv
src/Benin_run/scenarios/elec.csv
src/Benin_run/scenarios/fixed_cost_tnd.csv
src/Benin_run/scenarios/fuels.csv
src/Benin_run/scenarios/GIS_data.csv
src/Benin_run/scenarios/inputactivity.csv
src/Benin_run/scenarios/outputactivity.csv
src/Benin_run/scenarios/un_elec.csv
src/Benin_run/scenarios/technologies.csv
src/Benin_run/results/**
src/SALib-main/**
src/Benin_run/Demand/demand**
New Text Document.txt
src/.ipynb_checkpoints/GEOSeMOSYS -Benin-checkpoint.ipynb
src/test_GEOSeMOSYS_Kenya.py
src/gui_workflow-gsa**
src/sample_morris_masterdata.xlsx
src/sample_morris.csv
.vscode/settings.json
src/GEOSeMOSYS -Benin.ipynb
src/Benin_run/elec.png
src/modelruns/scenarios/sample_morris.csv
src/modelruns/scenarios/unique_morris.csv

src/run/5_elec_noHV_cells.csv
src/Benin_run/scenarios/Demand/**
src/run/scenarios/**

src/modelruns/scenarios/unique_comb_morris.csv
src/run/1_elec_noHV_cells.csv
src/run/1_elec.csv
src/run/1_HV_cells.csv
src/run/1_minigridcells.csv
src/run/1_noHV_cells.csv
src/run/1_un_elec.csv
src/run/5_elec.csv
src/run/5_HV_cells.csv
src/run/5_minigridcells.csv
src/run/5_noHV_cells.csv
src/run/5_un_elec.csv
src/run/9_elec_noHV_cells.csv
src/run/9_elec.csv
src/run/9_HV_cells.csv
src/run/9_minigridcells.csv
src/run/9_noHV_cells.csv
src/run/9_un_elec.csv
src/run/13_elec_noHV_cells.csv
src/run/13_elec.csv
src/run/13_HV_cells.csv
src/run/13_minigridcells.csv
src/run/13_noHV_cells.csv
src/run/13_un_elec.csv
src/run/QGIS_5_distributionlines.csv
src/run/QGIS_13_distributionlines.csv
src/run/output/**
src/run/__pycache__/**
src/run/capacity_factor_other.xlsx
src/run/Benin_modified.txt
tech naming temba.xlsx
src/sensitivity/**

src/run/sensitivity_range/**
src/modelgenerator/__pycache__/**
src/convert.py
src/input_data/T3_load profile_Narayan.xls
.gitignore
src/.snakemake/**
src/modelgenerator/Build_csv_files.py
.gitignore

**results_PuLP**
**halfhourly_data_**
checkcorrectenessofmodel/**
src/config/parameters.xlsx
src/config/results.csv
src/modelgenerator/__ init __.py
src/run/__ init __.py
**7z
src/run/glpk-4.65/**
**.log
src/run/temp/**
KenyaProjected_files/**
BeninProjected_files/**
src/Benin_run/output/**
src/Benin_run/temp/results/**
src/Beninsensitivity/runs/**
src/Kenyasensitivity/runs/**
src/Benin_run/temp/**
csv
**.lp
**.sol

src/Beninsensitivity/**
src/Benintemp/**
src/Kenyatemp/**
src/Benin_run/**
src/Kenya_run/**
src/Kenyasensitivity/**
src/Benininput_data/Benin_demand.xlsx
src/Benininput_data/halfhourly_data.csv
src/Benininput_data/high_Jan.csv
src/Benininput_data/Kenya_GIS_files.csv
src/Benininput_data/T1-T5 loadprofile.xlsx
src/Benininput_data/T3_load profile_Narayan.xls
src/Kenya_0_sortedCapitalCostnetwork.csv
src/Kenya_run/output/**
src/Sensitivity_analysis.py
src/matrix_Sin_mu.csv
src/GSA_test.py
src/cluster.py
src/matrix_Sin_mu.png
src/Kenyainput_data/high_Jan.csv
src/config/masterdata.xlsx
.vscode/launch.json
